<!--<p>reset-password works!</p>-->
<div class="flex justify-content-center">
    <p-card header="Passwort zurücksetzen">
        <div class="flex flex-column">
            <form [formGroup]="email_group">
                <input type="text" pInputText formControlName="email" placeholder="eMail Adresse"/>
            </form>
            <p-button class="mt-2" (onClick)="init_reset()" severity="secondary">Passwort zurücksetzen</p-button>
        </div>
    </p-card>
    <p-dialog header="Info" [(visible)]="dialog_visible" [closable]="false" [draggable]="false" [style]="{ width: '30vw' }">
        <p>
            Email wurde gesendet. Wenn die Adresse im Account hinterlegt war, bekommen Sie eine Mail mit einem Link,
            mit dem Sie ein neues Passwort setzen können. Bitte schauen Sie evtl. auch im Spamordner nach.
        </p>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (onClick)="redirectToHome()" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>
