<form [formGroup]="chapForm">
    <div class="m-2">
        <input class="w-full" pInputText type="text" name="name"
                formControlName="name" placeholder="Titel des Kapitels"/>
    </div>
    <div class="m-2">
        <input pInputTextarea type="textarea" formControlName="chapter_description"
                name="chapter_description" placeholder="Beschreibung des Kapitels"/>
    </div>
    <!--<p-button (onClick)="closeDialogNewChapter()" severity="secondary">Schließen</p-button>-->
    <p-button class="ml-2" (onClick)="createNewChapter()">Kapitel anlegen</p-button>
</form>
