<div class="p-3">
    <p-toolbar class="mb-2">
        <h2>Keyboard App Admin Center</h2>
        <div>
            <p-button class="p-3" [rounded]="true" [text]="true" (click)="mainMenu.toggle($event)" icon="pi pi-bars"></p-button>
            <p-menu #mainMenu [model]="menu_items" [popup]="true"></p-menu>
            <p-button (click)="loginPanel.toggle($event)" icon="pi pi-user" label="Login"></p-button>
        </div>
    </p-toolbar>
    <p-overlayPanel #loginPanel>
        <ng-template pTemplate="content">
            <p-card header="Login" [style]="{ width: '300px' }">
                <form [formGroup]="loginForm">
                    <input id="username" type="text" pInputText class="mb-3" 
                            placeholder="eMail"
                            formControlName="username_email"/>
                    <br>
                    <p-password type="text" placeholder="Passwort" formControlName="password" [feedback]="false"></p-password>
                </form>
                <ng-template pTemplate="footer">
                    <div class="flex">
                        <div class="grid">
                            <div class="col-6">
                                <div class="flex justify-content-center">
                                    <p-button [disabled]="!!authService.user_logged_in" (onClick)="login(loginPanel)">Login</p-button>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="flex justify-content-center">
                                    <p-button [disabled]="!authService.user_logged_in" (onClick)="logout()">Logout</p-button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="flex justify-content-center ">
                                    <p-button [text]="true" (onClick)="navigate_pwd(loginPanel)">Passwort vergessen</p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-card>
        </ng-template>
    </p-overlayPanel>
</div>