<form [formGroup]="formTab">
    <div class="justify-content-center w-full mt-2">
        <input class="w-full" type="text" pInputText formControlName="exercise_tab_name" placeholder="Titel für den Tab"/>
    </div>
    <p-divider></p-divider>
    <div class="justify-content-center mt-2 mb-2">
        <textarea class="w-full" rows="6" pInputTextarea formControlName="tab_description" placeholder="Beschreibung"></textarea>
    </div>
    <p-button class="mt-2" (onClick)="updateDescription()">Beschreibung aktualisieren</p-button>
</form>