<p-tabView [hidden]="collService.selectedChapter.exercise_ids.length === 0" [(activeIndex)]="activeIndex" (onChange)="openTab(activeIndex)">
    <p-tabPanel *ngFor="let exTab of collService.selectedChapter.exercise_ids, let itab=index"
                [header]="exTab.exercise_tab_name">
        <div>
            <p [innerHTML]="exTab.exercise_description | markdown"></p>
            <div class="flex align-items-center justify-content-between">
                <p-button (onClick)="openDialogUpdateDescription()" 
                        label="Beschreibung bearbeiten" size="small" severity="secondary">
                </p-button>
                <p-button class="ml-4" (onClick)="delTab($event, exTab.id)" icon="pi pi-times"
                        label="Tab löschen" severity="danger" size="small">
                </p-button>
            </div>    
            <p-confirmPopup></p-confirmPopup>
        </div>
        <p-divider></p-divider>
        <div>
            <!--"{{ HOST }}/serve_media/{{ collService.selectedColl.user_code }}/{{ exTab.img_url }}"ServiceselectedTab.-->
            <h5>Bild/Partitur</h5>
            <img *ngIf="exTab.img_url != ''"
                [src]="imgURL"
                alt="{{ imgURL }}" width="100%"/>
            <div *ngIf="exTab.img_url === ''">
                Kein Bild hinterlegt.
            </div>
            <div class="flex justify-content-left">
                <p-fileUpload #imgUpload class="m-2" mode="basic" chooseLabel="Bild auswählen"
                                name="file" [url]="collService.selectedUploadURLImg"
                                [withCredentials]="true" [headers]="authHeaders" [maxFileSize]="10000000"
                                accept="image/*" [auto]="true" (onUpload)="onUpload($event, 'img')">
                </p-fileUpload>
                <p-button class="mt-2 mr-2" (onClick)="clearMedia('img')" icon="pi pi-times" severity="danger"
                            [disabled]="collService.selectedTab.img_url === ''"></p-button>
                <!--<div>{{ collService.selectedUploadURLImg }}</div>-->
            </div>
        </div>
        <p-divider></p-divider>
        <div>
            <h5>Audio</h5>
            <div class="flex">
                <div class="mr-2 mt-2" *ngIf="exTab.audio_url != ''">
                    <p-button [icon]="player_icon" [rounded]="true" [text]="true"
                            [raised]="true" (onClick)="playPauseAudio()">
                    </p-button>
                </div>
                <div *ngIf="exTab.audio_url === ''">
                    Keine Audiodatei hinterlegt.
                </div>
                <!--{{ HOST }}/serve_media/{{ collService.selectedColl.user_code }}/{{ exTab.audio_url }}-->
                <div class="flex justify-content-left">
                    <p-fileUpload #audioUpload class="m-2" mode="basic" chooseLabel="Audio auswählen"
                                name="file" [url]="collService.selectedUploadURLAudio"
                                accept="audio/mpeg" [auto]="true"
                                (onUpload)="onUpload($event, 'audio')">
                </p-fileUpload>
                <p-button class="m-2" (onClick)="clearMedia('audio')" icon="pi pi-times" severity="danger"
                            [disabled]="collService.selectedTab.audio_url === ''"></p-button>
                </div>
                <!--<div> {{ collService.selectedUploadURLAudio }}</div>-->
            </div>
        </div>
    </p-tabPanel>
</p-tabView>