<form class="w-full" [formGroup]="editCollectionForm">
    <div class="grid">
        <div class="col">
            <div>
                <label for="titelColl">Titel der Sammlung</label>
                <input id="titelColl" class="w-full" type="text" pInputText name="title" formControlName="title" placeholder="Titel eingeben"/>
            </div>
            <div class="w-full mt-2">
                <label for="collection_description">Beschreibung (auch Markdown möglich)</label>
                <textarea  class="w-full mt-2" id="collection_description" pInputText type="text" name="collection_description"
                            rows="12" placeholder="Beschreibung" formControlName="collection_description">
                </textarea>
            </div>
        </div>
        <div class="col">
            <p-orderList [value]="chapters" [listStyle]="{ 'max-height': '30rem' }"
                         header="Reihenfolge der Kapitel" [dragdrop]="true"
                         (onReorder)="onOrderChanged()">
                <ng-template let-chapter pTemplate="item">
                    <div class="flex flex-wrap p-2 align-items-center gap-3">
                        <div class="flex-1 flex flex-column gap-2">
                            <span class="font-bold">{{ chapter.name }}</span>
                        </div>
                        <span class="font-bold text-900"></span>
                    </div>
                </ng-template>
            </p-orderList>
        </div>
    </div>
    <div class="mt-2">
        <p-button class="mt-2" (onClick)="updateCollectionInfo()">
            Sammlung aktualisieren
        </p-button>
    </div>
</form>