<p-panel [hidden]="!activated">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap w-full">
            <div class="flex align-items-center">
                <h2 class="mr-5 flex align-items-center justify-content-center">
                    {{ collService.selectedColl.display_name }}
                </h2>
                <p-toast></p-toast>
                <p-button class="mr-2" label=" {{ collService.selectedColl.user_code }}" icon="pi pi-copy" [outlined]="true"
                    size="small" [text]="true" [plain]="true" (onClick)="copyClipboard()">
                </p-button>
            </div>
            <!-- <div class="flex"> -->
            <div class="flex align-items-center">
                <p-button class="mr-2" (onClick)="editCollection()" icon="pi pi-file-edit"
                        size="small" [disabled]="!activated" severity="secondary"></p-button>
                <p-button class="mr-2" (onClick)="exportCollection()" icon="pi pi-cloud-download"
                        size="small" [disabled]="!activated" severity="secondary"></p-button>
            </div>
            <div class="flex align-items-center">
                <p-button (onClick)="delCollection($event)" icon="pi pi-trash" size="small"
                        [disabled]="!activated" severity="danger"></p-button>
                <p-confirmPopup></p-confirmPopup>
            </div>
            <!-- </div> -->
        </div>
    </ng-template>
    <!--class="grid">-->
        <!--<div class="lg:col-10 md:col-9 sm:col-6">-->
            <!--<h2>{{ collService.selectedColl.display_name }}</h2>-->
            <p-panel header="Beschreibung der Sammlung" [toggleable]="true">
                <p [innerHTML]="collService.selectedColl.collection_description | markdown"></p>
            </p-panel>
        <!--</div>-->
        <!--<div class="lg:col-2 md:col-3 sm:col-6 flex">-->
            <!--<p-panel header="User Code">
                <h4>User Code:</h4>
            </p-panel>-->
            <!--<p-button (onClick)="editCollection()" icon="pi pi-file-edit" [disabled]="!activated"></p-button>
                <p-button (onClick)="delCollection()" icon="pi pi-trash" [disabled]="!activated" severity="danger"></p-button>-->
            <!--</div>-->
        <!--</div>-->
        <p-accordion [multiple]="false">
            <p-accordionTab *ngFor="let chapter of collService.selectedColl.list_of_exercises, let i=index"
            class="m-1" [header]="chapter.name.toString()" (selectedChange)="openChapter(chapter.id)">
            <div class="pb-2">
                <p-button class="mr-2" (onClick)="editChapter()" label="Kapitel Bearbeiten" icon="pi pi-book" size="small" severity="secondary"></p-button>
                <p-button severity="danger" size="small" (onClick)="delChapter($event)"
                        label="Chapter löschen" icon="pi pi-trash" [disabled]="!activated"></p-button>
            </div>
            <p-card header="{{ chapter.name }}">

                <p [innerHTML]="chapter.chapter_description| markdown"></p>
                <p-button (onClick)="openNewTabPanel()" label="Neuer Tab" icon="pi pi-plus" size="small"></p-button>
                <app-tab-overview></app-tab-overview>
            </p-card>
        </p-accordionTab>
        <div class="m-2">
            <p-button (onClick)="openDialogNewChapter()" icon="pi pi-plus" [hidden]="!activated"></p-button>
        </div>
    </p-accordion>
    <!--<ng-template pTemplate="footer">
    </ng-template>-->
</p-panel>