<!--<p>set-new-password works!</p>-->
<div class="flex justify-content-center">
    <p-card header="Passwort zurücksetzen">
        <form [formGroup]="set_pwd_group">
            <div class="flex flex-column">
                <!--<div class="flex align-items-center justify-content-center mb-3">-->
                    <input type="text" pInputText formControlName="e_mail" placeholder="eMail Adresse" class="mb-3"/>
                <!--</div>-->
                <!--<div class="flex align-items-center justify-content-center">-->
                <p-password type="text" formControlName="new_password" placeholder="Passwort"
                            [toggleMask]="true">
                </p-password>
                <!--</div>
                <div class="flex align-items-center justify-content-center">-->
                <p-password type="text" formControlName="new_password_repeat"
                                placeholder="Passwort wiederholen" [toggleMask]="true">
                </p-password>
                <!--</div>-->
                <!--<div class="flex align-items-center justify-content-right m-3">-->
                <p-button class="mt-3" (onClick)="set_pwd()" severity="secondary">Passwort neu setzen</p-button>
                <!--</div>-->
            </div>
        </form>
    </p-card>
    <p-dialog header="Info" [(visible)]="dialog_set_done_visible" [closable]="false" [draggable]="false" [style]="{ width: '30vw' }">
        <p [innerHTML]="msg_text"></p>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (onClick)="redirectToHome()" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>